.body-color{
    background-color: #659DBD
}

.btn-style{
    background-color: #387a47;
    color: #fcf9f9
}

.card-border{
    border-width: medium;
    border-color: #387a47;
    border-radius: 10px;
}

.img-border{
    border-width: thin;
    border-color: #387a47;
    border-radius: 10px;
}

